"#For id mapping and filtering among tables (msms, peptides, proteins and sites)"			
sortid	id		
pgids	Protein Group IDs		
pepids	Peptide IDs		
pepid	Peptide ID		
msmsids	MS/MS IDs	#unknown missing mapping may existence	change to ms2ids
sitekeyids	 Site IDs		
			
#For extraction of experimental designs based on summary.txt			
rawfile	Raw file		
expdes	Experiment		
			
#For filtering and optimizing protein reporting			
proids	Protein IDs		
pepcts	Peptide Counts (all)		
unipepcts	Peptide Counts (unique)		
revkey	REV__		
conkey	CON__		
proscore	PEP	?or PEP 	Q-value
bestsc	s	l: the larger is more significant; s: the smaller is more significant;	
			
"#For msms report, do not add xxx sites due to missing IDs mapping of MaxQuant (Unknown error)"			
ms2fixtits	Raw File;Scan Number;Sequence;Length;Missed Cleavages;Modifications;Modified Sequence;Charge;Fragmentation;Mass analyzer;m/z;Mass;Simple Mass Error [ppm];PEP;Score;Matches;Intensities;Masses;Number of Matches		
ms2keys	 Probabilities;Mass Deviations		
ms2rawfile	Raw File		
ms2scannu	Scan Number		
			
#For proteinGroups report			
pgfixtits	Peptides;Unique Peptides;Sequence Coverage [%];Unique Sequence Coverage [%];Mol. Weight [kDa];Sequence Length;PEP;Intensity		
pgkeys	LFQ Intensity ;iBAQ;Intensity		
			
#For peptide report			
pepfixtits	Sequence;Length;Missed Cleavages;Mass;Unique (Groups);Unique (Proteins);PEP;Score;Intensity		
pepkeys	Experiment 		
			
"#For modification report, do not include sequence window"			
modfixtits	Localization Prob;PEP;Score;Amino Acid;Position in peptide;Charge;Mass Error [ppm];Intensity		
modkeys	Number of ; Probabilities;Localization Prob ;PEP ;Score ;Intensity 		
			
#For modification optimize			
modpros	Leading Proteins		
modpos	Positions		
modsite	Amino Acid		
modflkseq	6	"#flanking length for sequence window, 6 for win13 "	
modrplp	Localization Prob		
modrplpmin	0.5		
			
#For protein N-term modification			
nterms	Acetyl (Protein N-term)		
ntermtar	Modifications		
pepseqtit	Sequence		
ntpeptits	Mass;Unique (Groups);PEP;Score;Intensity		
			
#For quantification based on reporter ions			
qtionkey	Reporter intensity not corrected 	#do not export reporter ions in other tables	
